In [5]:
import pandas as pd

df = pd.read_csv('beijing_data.csv')

In [30]:
df['square'].sample()

1381    61.69
Name: square, dtype: float64

In [31]:
categoryCol=['substrict','type','direction']

In [32]:
for i in categoryCol:
    df[i]=df[i].astype("category")

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2120 entries, 0 to 2119
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   X             2120 non-null   float64
 1   Y             2120 non-null   float64
 2   substrict     2120 non-null   category
 3   time          2120 non-null   object
 4   price         2120 non-null   object
 5   type          2120 non-null   category
 6   direction     2120 non-null   category
 7   square        2120 non-null   float64
 8   price per m2  2120 non-null   object
 9   PageUrl       2120 non-null   object
dtypes: category(3), float64(3), object(4)
memory usage: 125.7+ KB

In [38]:
df['time'] = pd.to_datetime(df['time'], format='%Y.%m.%d')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2120 entries, 0 to 2119
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   X             2120 non-null   float64
 1   Y             2120 non-null   float64
 2   substrict     2120 non-null   category
 3   time          2120 non-null   datetime64[ns]
 4   price         2120 non-null   object
 5   type          2120 non-null   category
 6   direction     2120 non-null   category
 7   square        2120 non-null   float64
 8   price per m2  2120 non-null   object
 9   PageUrl       2120 non-null   object
dtypes: category(3), datetime64[ns](1), float64(3), object(3)
memory usage: 125.7+ KB

In [45]:
#df['price per m2']=df['price per m2'].astype('float64')



def cleanMinus(data):
    if data.find('-')==-1:
        return data
    data=data.split('-')
    return data[0]

In [46]:
df.loc[454]

X                                                     116.482
Y                                                     39.8787
substrict                                                松榆东里
time                                      1905-07-06 00:00:00
price                                                 190-210
type                                                 2室1厅1厨1卫
direction                                                 南 北
square                                                     59
price per m2                                      32203-35593
PageUrl         https://bj.ke.com/chengjiao/BJCY88728714.html
Name: 454, dtype: object